*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

main{
    min-height: 100vh;
    background: linear-gradient(to right top, #65dfc9, #6cdbeb );
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: "Poppins", sans-serif;
}

h1{
    color:#426696;
    font-weight: 600;
    font-size: 3rem;
    opacity: 0.8;
}

h2,p{
    color: #658ec6;
    font-weight: 500;
    opacity: 0.8;
}
.glass{
    min-height: 80vh;
    width: 60%;
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 2rem;
    z-index: 3;
    backdrop-filter: blur(2rem);
    display: flex;
}

.circle1,.circle2{
    background: white;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8),rgba(255,255,255,0.3));
    position: absolute;
    height: 15rem;
    width: 15rem;
    z-index: 2;
    border-radius: 50%;
}

.circle1{
    top: 60%;
    left: 10%;
}

.circle2{
    top: 5%;
    right: 15%;
}


img{
    height: 25px;
    width: 25px;
    border-radius: 50%;
}

.pro h2{
    font-weight: 500;
    color: white;
}

.status{
    margin-bottom: 3rem;
}

.status input{
    background: linear-gradient(to right bottom, rgba(255,255,255,0.8),rgba(255,255,255,0.3));
    border: none;
    width: 40%;
    padding: 10px;
    border-radius: 2px;
}

.dashboard{
    flex: 1;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    text-align: center;
    background: linear-gradient(to right bottom, rgba(255,255,255,0.7),rgba(255,255,255,0.3));
    border-radius: 2rem;
}
.games{
    flex: 3;
    display: flex;
    flex-direction: column;
    margin-top: 1.5rem;
    margin-left: 2rem;
}

.link{
    display: flex;
    align-items: center;
    margin: 1rem;
}
.link h2{
    padding:0rem 1rem;
}

.pro{
    background: linear-gradient(to right top, #65dfc9, #6cdbeb );
    border-radius: 1rem;
    color: white;
    padding: 8px;
    font-size: small;
}

.card{
    display: flex;
    background: linear-gradient(to right bottom, rgba(255,255,255,1),rgba(255,255,255,0.5));
    margin: 1rem;
    padding: 0.8rem;
    padding-left: 2rem;
    margin-top: 0;
    border-radius: 0.5rem;
    width: 80%;
    align-items: center;
    box-shadow: 5px 5px 20px rgba(179, 179, 179, 0.589);
}
.user img{
    height: 55px;
    width: 50px;
}

.user h2{
    color: rgb(41, 41, 41);
    font-weight: bold;
}

.link h2{
    color: #1e5399;
}

.card img{
    height: 50px;
    width: 50px;
    border-radius: 5px;
}

.card-info{
    padding-left: 1rem;
    display: flex;
    flex-direction: column;
}

.progress{
    background: linear-gradient(to top right, #65dfc9, #6cdbc9);
    height: 10px;
    width: 100%;
    border-radius: 3px;
    position: relative;
    overflow: hidden;
}

.progress::after{
    content: "";
    height: 100%;
    width: 100%;
    background: rgb(236,236,236);
    position: absolute;
    left:40%;
}